albucore==0.0.24
albumentations==2.0.8
altgraph==0.17.4
annotated-types==0.7.0
appdirs==1.4.4
attrs==25.3.0
Automat==25.4.16
beautifulsoup4==4.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
coloredlogs==15.0.1
constantly==23.10.4
contourpy==1.3.2
cryptography==45.0.4
cssselect==1.3.0
cycler==0.12.1
Cython==3.1.2
darkdetect==0.7.1
defusedxml==0.7.1
easydict==1.13
exceptiongroup==1.3.0
faiss-cpu==1.11.0
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.4
h11==0.16.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.10
ImageHash==4.3.2
imageio==2.37.0
incremental==24.7.2
insightface==0.7.3
itemadapter==0.11.0
itemloaders==1.3.2
jmespath==1.0.1
joblib==1.5.1
kiwisolver==1.4.8
lazy_loader==0.4
lxml==5.4.0
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
onnx==1.18.0
onnxruntime==1.22.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
outcome==1.3.0.post0
packaging==25.0
parsel==1.10.0
pillow==11.2.1
prettytable==3.16.0
Protego==0.5.0
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyDispatcher==2.0.7
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
pyOpenSSL==25.1.0
pyparsing==3.2.3
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.17.0
pyqtdarktheme==2.1.0
pyqtgraph==0.13.7
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyWavelets==1.8.0
PyYAML==6.0.2
QDarkStyle==3.2.3
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
QtPy==2.4.3
queuelib==1.8.0
requests==2.32.4
requests-file==2.1.0
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
Scrapy==2.13.2
selenium==4.33.0
service-identity==24.2.0
simsimd==6.4.9
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
stringzilla==3.12.5
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tldextract==5.3.0
tomli==2.2.1
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
typing-inspection==0.4.1
typing_extensions==4.13.2
urllib3==2.4.0
w3lib==2.3.1
wcwidth==0.2.13
webdriver-manager==4.0.2
webdrivermanager==0.10.0
websocket-client==1.8.0
wsproto==1.2.0
zope.interface==7.2
